.front-header {
    display: flex;
    height: 60px;
    line-height: 60px;
    background: white;
    width: 80%;
    margin: 0 auto;
}

.front-header-left {
    width: 450px;
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.front-header-left img, .front-header-dropdown img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.front-header-left .title {
    flex: 1;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.front-header-center {
    flex: 1;
    display: flex;
    align-items: center;
}

.front-header-right {
    width: 100px;
    padding-right: 20px;
    text-align: right;
    cursor: pointer;
}

.front-header-dropdown {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 10px;
}

.el-dropdown-menu {
    width: 100px !important;
    text-align: center !important;
}

/* ElementUI 样式覆盖 */
.el-menu.el-menu--horizontal {
    border: none !important;
    height: 59px;
}

/* 顶部头部阴影 */
.header {
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
}

/* 导航菜单项 */
.menu-item {
    height: 60%;
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 16px;
    cursor: pointer;
}

/* 菜单项悬停效果 */
.menu-item:hover {
    color: #ff6700;
    font-weight: bold;
}

/* 菜单项激活状态 */
.menu-item-active {
    color: #ff6700;
    font-weight: bold;
    border-bottom: 3px solid #ff6700;
}

/* 右边按钮样式 */
.front-header-right-button{
    display: flex;
    margin-top: 15px;
}
